<h1>The next fight is between <%= @name1 %> and <%= @name2 %></h1>
<p><%= @name2 %> HP: 100/100</p>
<form action="/p1attack" method="post">
  <input type="submit" value="Attack!">
</form>
<% if session[:p1attack] %>
<p> <%= @name1 %> attacked <%= @name2 %>!</p>
<% end %>
